@use "./base.scss";

// put your custom CSS here!

/* ── Body text ── */
article p, article li {
    font-size: 1.2rem;
    line-height: 1.5;
}


@media (min-width: 800px) and (max-width: 1200px) {
.page>#quartz-body {
    grid-template:
        "grid-sidebar-left grid-header"
        "grid-sidebar-left grid-center"
        "grid-sidebar-left grid-sidebar-right"
        "grid-sidebar-left grid-footer"/200px auto;
    gap: 10px;
}

}

:root {
--secondary:#1f1e1d !important;
}
:root[saved-theme=dark] {
--secondary:#f0eee6 !important;
}

p, ul, text, a, tr, td, li, ol, ul, .katex, .math, .typst-doc, g[class~="typst-text"] { color: var(--dark);
fill: var(--dark);
}